src/ios/Pods
src/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
src/ios/OneginiCordovaPlugin.xcodeproj/project.xcworkspace/xcuserdata
src/ios/OneginiCordovaPlugin.xcodeproj/xcuserdata
src/ios/OneginiCordovaPlugin.xcworkspace/xcuserdata
src/ios/OneginiCordovaPlugin.xcworkspace/xcuserdata
src/ios/DerivedData
*.xccheckout
.idea/
.DS_Store
