<?xml version='1.0' encoding='utf-8'?>
<widget id="com.onegini.OneginiCordovaPlugin" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OneginiCordovaPlugin</name>
    <description>
        Onegini SDK Plugin
    </description>
    <author email="support@onegini.com" href="http://www.onegini.com">
        Onegini Support Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
</widget>
