<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kOGAppIdentifier</key>
	<string>DemoApp-2-4</string>
	<key>kOGAppScheme</key>
	<string>oneginisdk</string>
	<key>kOGAppPlatform</key>
	<string>ios</string>
	<key>kOGAppVersion</key>
	<string>2.4</string>
	<key>kAppBaseURL</key>
	<string>https://beta-tokenserver.onegini.com</string>
	<key>kOGShouldConfirmNewPin</key>
	<true/>
	<key>kOGShouldDirectlyShowPushMessage</key>
	<true/>
	<key>kOGKeyStorePassword</key>
	<string>NotSoVerySecureYet</string>
	<key>kOGMaxPinFailures</key>
	<string>3</string>
	<key>kOGResourceBaseURL</key>
	<string>https://beta-tokenserver.onegini.com</string>
	<key>kOGRedirectURL</key>
	<string>oneginisdk://loginsuccess</string>
</dict>
</plist>
